/* CSS reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}



/* main */

html, input, select, button {
	font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", sans-serif;
	font-size: 15px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	width: 4em;
	height: 1.6em;
}
select {
	height: 1.6em;
}

html {
	background-color: #fffcef;
	text-align: center;
}

button {
	background: #ffe066;
	color: black;
	border: 1px solid #333;
	transition: opacity 0.6s;
}
.posint button {
	height: 1.6em;
	width: 1.6em;
}
#buttonst-block button {
	line-height: 1.6em;
}
#solve {
	font-weight: bold;
}
button:hover, button:active {
	opacity: 0.5;
}
button:hover {
	cursor: pointer;
}

h1 {
	font-weight: bold;
	font-size: 150%;
}

h1,
#input-container,
#variable-number-block,
#constraint-number-block,
#equation,
#additional-contraint-block,
#generate-button-block,
#solve-button-block,
#result,
#canvas-container {
	margin: 0.2rem 0;
}

#wrapper {
	margin: 0.5rem;
}

.posint input[type=number] {
	width: 2em;
}

.polynomial .term::after {
	content: attr(data-no);
	vertical-align: sub;
    font-size: smaller;
}
.polynomial .term .variable::after {
	content: attr(data-var);
}

.polynomial .term:not(:first-child)::before {
	content: '+';
}

#constraint-example {
	display: none;
}

#result {
	background: #ff897c;
	font-weight: bold;
	display: inline-block;
	padding: 1em;
}

#canvas-container {
	position: relative;
	width: 500px;
	height: 500px;
	display: block;
	max-width: 90vw;
	margin: auto;
}
canvas {
	position: absolute;
	left: 0px;
	top: 0px;
	border: 1px solid #000;
	display: block;
	max-width: 90vw;
}
#layer1 {
	z-index: 1;
}
#layer2 {
	z-index: 2;
}
#layer3 {
	z-index: 3;
}